target/
!target/x86_64-unknown-linux-musl/release/chasqui-server
!target/armv7-unknown-linux-musleabihf/release/chasqui-server

**/*.db
**/*.db-journal
**/*.log
.env
.git/
content/
testing_ground/
docker-compose.yml
Dockerfile
